# Here is the list of packages automatically derived by QPT
# you can ignore the dependent packages in the main package and only care about the main package
# For example, you need to install paddlepaddle and pillow, because paddlepaddle relies on pillow, so you only need to install paddlepaddle.
# ---------------------------------------------------------------------
# QPT Home:        https://github.com/GT-ZhangAcer/QPT
# ---------------------------------------------------------------------
# 
# -------------Mainly depends on package analysis results--------------

paddleocr==2.6.1.3
qpt==1.0b4.dev6
visualdl==2.5.1
#torchvision==0.12.0
#torch==1.13.1
#torchvision==0.14.1 
#torchaudio==0.13.1
pyqt5==5.15.6
seaborn
paddlepaddle_gpu==2.4.2.post116 -i https://www.paddlepaddle.org.cn/whl/windows/mkl/avx/stable.html --trusted-host www.paddlepaddle.org
#torch==1.13.1+cu116 -i https://download.pytorch.org/whl/cu116 --trusted-host download.pytorch.org
#torchvision==0.14.1+cu116 -i https://download.pytorch.org/whl/cu116 --trusted-host download.pytorch.org
#torchaudio==0.13.1 -i https://download.pytorch.org/whl/cu116 --trusted-host download.pytorch.org

# ----------------------Ignored dependent packages---------------------
#youtube_dl==2021.12.17
#yapf==0.31.0
#xmltodict==0.12.0
#xlwt==1.3.0
#xlwings==0.24.9
#xlsxwriter==3.0.1
#xlrd==2.0.1
#wincertstore==0.2
#win_unicode_console==0.5
#win_inet_pton==1.1.0
#watchgod==0.8.2
#unknown==0.0.0
#unidecode==1.2.0
#unicodecsv==0.14.1
#torchaudio==0.11.0
#torch_summary==1.4.5
#thop==0.1.1.post2209072238
#tensorflow==2.8.0
#tensorflow_probability==0.16.0
#tensorflow_hub==0.12.0
#tbb==0.2
#tables==3.6.1
#streamlit_drawable_canvas==0.9.1
#statsmodels==0.12.2
#sqlalchemy==1.4.22
#spyder==5.1.5
#sphinxcontrib_websupport==1.2.4
#sortedcollections==2.1.0
#sip==4.19.13
#singledispatch==3.7.0
#simplegeneric==0.8.1
#seaborn==0.11.2
#scikit_learn_intelex==2021.20210714.120553
#rope==0.19.0
#roboflow==0.2.4
#python_vlc==3.0.16120
#pytest==6.2.4
#pysocks==1.7.1
#pysimplegui_exemaker==1.3.0
#pyreadline==2.1
#pyopenssl==21.0.0
#pyodbc==4.0.0-unsupported
#pyjwt==2.1.0
#pydocstyle==6.1.1
#pycurl==7.44.1
#py2exe==0.11.1.0
#py2app==0.27
#ply==3.11
#pep8==1.7.1
#pathlib2==2.3.6
#path==16.0.0
#pafy==0.5.5
#paddlepaddle_gpu==2.4.2.post116
#onnxruntime_gpu==1.11.0
#onnx_tf==1.10.0
#olefile==0.46
#numba==0.54.1
#nose==1.3.7
#nltk==3.6.5
#navigator_updater==0.2.1
#mypy_extensions==0.4.3
#munkres==1.1.4
#multipledispatch==0.6.0
#more_itertools==8.10.0
#mock==4.0.3
#mkl_service==2.4.0
#mkl_random==1.2.2
#mkl_fft==1.3.1
#linkify_it_py==2.0.0
#labelimg==1.8.6
#kaggle==1.5.12
#jupyterlab==3.2.1
#jupyter==1.0.0
#jdcal==1.4.1
#imagecodecs==2021.8.26
#httptools==0.4.0
#html5lib==1.1
#glob2==0.7
#geventhttpclient==2.0.2
#flake8==3.9.2
#filetype==1.0.13
#ffmpeg==1.4
#ffmpeg_python==0.2.0
#fastcache==1.1.0
#email_validator==1.2.1
#easydict==1.9
#distributed==2021.10.0
#cytoolz==0.11.0
#cx_freeze==6.9
#cvlib==0.2.7
#contextlib2==0.6.0.post1
#conda_verify==3.4.2
#conda_token==0.3.0
#conda_repo_cli==1.0.4
#conda_package_handling==1.7.3
#conda_build==3.21.6
#comtypes==1.1.10
#cached_property==1.5.2
#brotlipy==0.7.0
#bottleneck==1.3.2
#boto==2.49.0
#bokeh==2.4.1
#bkcharts==0.2
#bitarray==2.3.0
#backports.shutil_get_terminal_size==1.0.0
#autopep8==1.5.7
#auto_py_to_exe==2.18.2
#astropy==4.3.1
#asn1crypto==1.4.0
#argh==0.26.2
#anaconda_project==0.10.1
#anaconda_navigator==2.1.2

# ----------------------Ignored sub dependent packages---------------------

# -----Dependencies of paddleocr
#visualdl
#pdf2docx
#imgaug
#pymupdf<1.21.0
#premailer
#fire>=0.3.0
#lmdb
#cython
#tqdm
#opencv_python<=4.6.0.66
#numpy
#rapidfuzz
#python_docx
#shapely
#opencv_contrib_python<=4.6.0.66
#fonttools>=4.24.0
#scikit_image
#openpyxl
#pyclipper
#beautifulsoup4
#lxml
#attrdict

# -----Dependencies of qpt
#click
#pefile
#pip>=22.1.1
#toml
#wget
#pillow

# -----Dependencies of visualdl
#six>=1.14.0
#psutil
#packaging
#rarfile
#gradio
#flask_babel>=3.0.0
#pandas
#attrdict
#onnx>=1.6.0
#x2paddle
#bce_python_sdk
#flask>=1.1.1
#requests
#protobuf>=3.20.0
#pillow>=7.0.0
#matplotlib
#tritonclient
#numpy

# -----Dependencies of torchvision
#torch==1.11.0
#pillow!=8.3.*,>=5.3.0
#typing_extensions
#requests
#numpy

# -----Dependencies of pyqt5
#pyqt5_qt5>=5.15.2
#pyqt5_sip<13,>=12.8
